  <div class="welcome-container">
    <p-card class="welcome-card">
      <ng-template pTemplate="header">
        <p-image src="assets/logo.png" alt="Logo do Sistema X" width="100"></p-image>
      </ng-template>
  
      <ng-template pTemplate="title">
        Bem-vindo ao Sistema AG Capital!
      </ng-template>
  
      <ng-template pTemplate="content">
        <p>Gerencie seus projetos de forma eficiente.</p>       
        <p-divider></p-divider>
      </ng-template>
    </p-card>
  </div>
